body {
	font-family: Poppins, sans-serif;
	--background: white;
	--darker-background: whitesmoke;
	--darker-background-hover: lightgray;
	--font-color: black;
	background: var(--background);
	color: var(--font-color);
	margin: 0;
}

nav {
	position: fixed;
	width: 100vw;
	top: 0%;
	background: var(--darker-background);
	padding: 15px 0;
}

nav #logo {
	padding-right: 30px;
	font-weight: bold;
	font-size: large;
	color: var(--font-color);
	float: left;
	margin-left: 30px;
	margin-top: unset;
}

nav .elements {
	float: right;
	margin-right: 15px;
}

nav .elements a {
	width: 100%;
	padding: 15px 20px;
	text-decoration: none;
	color: var(--font-color);
	transition: 250ms;
}

nav .elements button {
	font-family: Poppins, sans-serif;
	background: none;
	border: none;
	font-size: unset;
	border-radius: 0px;
	height: 53px;
	transition: 250ms;
	color: var(--font-color);
}

nav .elements a:hover {
	background: var(--darker-background-hover);
}

nav .elements button:hover {
	background: var(--darker-background-hover);
}

footer {
	background: var(--darker-background);
	text-align: center;
	padding: 15px 0;
}

#about {
	border: 1px solid var(--font-color);
	border-radius: 10px;
	margin: 20px;
	text-align: center;
}

.container {
	margin: 10px;
}

footer {
	text-align: center;
}

#userActionMenu {
	position: fixed;
	right: 35px;
	background: var(--darker-background);
	border: 1px solid var(--font-color);
	border-radius: 5px;
	top: 83px;
	transition: 250ms;
	opacity: 0;
	transform: translateY(10vh);
}

#userActionMenu.active {
	opacity: 1;
	transform: translateY(0);
}

#userActionMenu ul {
	padding-inline-start: 15px;
	padding-inline-end: 15px;
}

#userActionMenu ul li {
	list-style: none;
	display: block;
	line-height: 35px;
}

#userActionMenu ul li a {
	text-decoration: none;
	padding: 5px 10px;
	color: var(--font-color);
}

#userActionMenu ul li a:hover {
	background: var(--darker-background-hover);
}

#themeChooser {
	padding: 2.5px 5px;
	border-radius: 5px;
	background: var(--background);
	color: var(--font-color);
	font-family: Poppins, sans-serif;
}

@media only screen and (max-width: 495px) {
	nav #logo {
		display: none;
	}
}
